*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(15,15,15);
    font-family: 'Trebuchet MS';
    font-size: large;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

nav{
    background-color: bisque;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 5px rgb(1, 40, 40);
}

body{
    background-color: rgb(1, 50, 50);
}

section{
    max-width: 50em;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    box-shadow: 5px 5px rgb(1, 40, 40);
    margin-bottom: 1em;
}

section > h2{
    padding: 0.1em;
    background-color: rgb(31, 41, 41);
    font-family: Cambria;
    font-size: large;
    color:whitesmoke;
}

main{
    padding: 0.2em;
}

section > p{
    padding: 0.1em;
    background-color: rgb(188, 194, 158);
    font-family: 'Trebuchet MS';
    font-size: large;
    color:rgb(46, 40, 40);
}

section > h2 > span{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:white;
}

footer{
    text-align: center;
}
